# Enter your DOMAIN. The domain must have a wildcard A record pointing to this machine's IP Address

DOMAIN=yourdomain.com

# Enter your EMAIL that will be used by Let's Encrypt to inform you about your SSL Certs

EMAIL=your@email.com

# Where you want all the data to be stored

DATA=./data